<!--<configuration>-->
<!--  <property name="LOG_DIR" value="/Users/kimyoungjin/study/erp/logs"/>-->

<!--  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--    <file>${LOG_DIR}/app.log</file>-->

<!--    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--      <fileNamePattern>${LOG_DIR}/app.%d{yyyy-MM-dd}.log.gz</fileNamePattern>-->
<!--      <maxHistory>7</maxHistory>-->
<!--    </rollingPolicy>-->

<!--    <encoder>-->
<!--      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>-->
<!--    </encoder>-->
<!--  </appender>-->

<!--  <root level="INFO">-->
<!--    <appender-ref ref="FILE"/>-->
<!--  </root>-->
<!--</configuration>-->