<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>태양연마 ERP Welcome!</h2>
    </div>

    <div>
        <h2>저장된 더미 값은 아래와 같습니다.</h2>
        <div>
            <label>아이디</label>
        </div>
        <div>
            <label>이름</label>
        </div>
    </div>
</div>
</body>
</html>