<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunmight.erp.domain.utils.offer.mybatis.UofferMapper">
<!--  <insert id="save" useGeneratedKeys="true" keyProperty="id">-->
<!--    insert into item (item_name, price, quantity)-->
<!--    values (#{itemName}, #{price}, #{quantity})-->
<!--  </insert>-->
<!--  <update id="update">-->
<!--    update item-->
<!--    set item_name=#{updateParam.itemName},-->
<!--    price=#{updateParam.price},-->
<!--    quantity=#{updateParam.quantity}-->
<!--    where id = #{id}-->
<!--  </update>-->
  <select id="getOfferDetailStats" resultType="OfferDetailStatDto">
    SELECT T1.model_name AS itemTitle,
           SUM(T1.quantity) AS totalQuantity,
           SUM(T1.amount) AS totalPrice
      FROM (
              SELECT
                    d.model_name,
                    d.quantity AS quantity,
                    (d.quantity * d.supply_price) AS amount
                FROM
                    u_offer_detail d
                JOIN
                    u_offer o ON o.id = d.u_offer_id
               WHERE
                    o.offer_date BETWEEN #{startDate} AND #{endDate}
                AND o.company_name LIKE CONCAT('%', #{company}, '%')
            ) T1
    GROUP BY T1.model_name
    ORDER BY itemTitle ASC, totalPrice DESC
  </select>
</mapper>